{% extends  'modal/_modal.html.twig' %}

{% block id %}media__modal__delete{% endblock %}

{% block action %}{{ path('app_media_remove', { id: media.id }) }}{% endblock %}

{% block header %}{{ media.trick.title }} - {{ media.createdAt | date('d/m/Y') }}{% endblock %}

{% block message %}Do you really want to remove this media ?{% endblock %}

{% block content %}
    {% if media.typeString == 'image' %}
        <img class="img-thumbnail my-3" src="{{ uploaded_asset(media.filePath) }}" alt="">
    {% elseif media.typeString == 'video' %}
        <div class="ratio ratio-16x9 video-container">
            <iframe
                src="{{ media.file }}"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
            >
            </iframe>
        </div>
    {% endif %}
{% endblock %}

{% block csrf %}{{ csrf_token('delete'~media.id) }}{% endblock %}

{% block btn_submit_class %}btn-danger{% endblock %}

{% block btn_submit_text %}yes{% endblock %}

{% block btn_dismiss_text %}no{% endblock %}

