<div class="js-modal modal fade" id="media__modal__delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action="{{ path('app_media_remove', { id: media.id }) }}" method="POST" class="d-inline-block" >
                <div class="modal-header text-uppercase font-weight-bold">
                    {{ media.trick.title }} - {{ media.createdAt | date('d/m/Y') }}
                </div>
                <div class="modal-body text-center p-4">
                    {% if media.typeString == 'image' %}
                        <img class="img-thumbnail my-3" src="{{ uploaded_asset(media.filePath) }}" alt="">
                    {% elseif media.typeString == 'video' %}
                        <div class="ratio ratio-16x9 video-container">
                            <iframe
                                src="{{ media.file }}"
                                title="YouTube video player"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen
                            >
                            </iframe>
                        </div>
                    {% endif %}
                    Do you really want to remove this media ?
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~media.id) }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-form" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-sm btn-form btn-danger">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

