{% extends 'base.html.twig' %}

{% block title %}{{ user.userIdentifier }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('account') }}
{% endblock %}

{% block body %}
    <!-- Hero -->
    <section id="hero" class="container-fluid">
        <div class="overlay"></div>
        <div class="container account">
            <div class="row">
                <div class="col-md-12">
                    <div class="row account__informations">
                        <div class="col-md-3 p-3">
                            <div id="user-avatar">
                                <figure>
                                    <img src="{{ user.avatar ? user|avatar|imagine_filter('squared_thumbnail_small') : user|avatar }}" class="thumbnail" alt="{{ user.userIdentifier }} Avatar">
                                </figure>
                                {{ include('account/_avatar_form.html.twig') }}
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="px-3 py-3 h-100 d-flex align-items-center justify-content-center justify-content-md-start">
                                <div>
                                    <h3>Welcome back, {{ user.userIdentifier }}</h3>
                                    <p class="my-2 account__informations--email"><i class="fas fa-address-card pe-2"></i>{{ app.user.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row py-md-2 mt-4">
                        <div class="col-md-6 mt-2 mt-md-0 text-center">
                            <h3 class="text-capitalize">comments</h3>
                            <h4 class="text-muted">{{ user.comments|length }}</h4>
                        </div>
                        <div class="col-md-6 mt-2 mt-md-0 text-center">
                            <h3 class="text-capitalize">articles write</h3>
                            <h4 class="text-muted">{{ user.tricks|length }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
