{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block body %}

        <!-- Hero -->
        <section id="hero" class="container-fluid">
            <div class="overlay"></div>

            <form method="post" class="container login__form">

                <h1 class="h3 mb-3 font-weight-normal text-center">Sign in</h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">{{ message|trans({}, 'flashes') }}</div>
                {% endfor %}
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <div class="form-floating">
                    <input type="text" name="username" class="form-control" value="{{ last_username }}" required>
                    <label>Username</label>
                </div>

                <div class="form-floating mt-2">
                    <input type="password" name="password" class="form-control" required>
                    <label>Password</label>
                </div>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <a class="text-decoration-none login__forgot-password my-4 d-none d-md-inline-block w-100 text-center" href="{{ path('app_forgot_password_request') }}">Forgot password ?</a>

                <div class="col-lg-12 text-center mt-4 mt-md-0">
                    <button class="btn btn-form" type="submit">
                        Sign in
                    </button>
                </div>

                <a class="d-flex justify-content-center text-decoration-none login__register mt-4 d-md-none" href="{{ path('app_register') }}">Register</a>
                <a class="d-flex justify-content-center text-decoration-none login__forgot-password mt-2 d-md-none" href="{{ path('app_forgot_password_request') }}">Forgot password ?</a>
            </form>
        </section>

{% endblock %}
