<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>SnowTricks | {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body data-bs-spy="scroll" data-bs-target="#navbar">
        <header id="header">
            <!-- Navigation mobil -->
            <nav class="navbar navbar-expand navbar-mobile fixed-bottom d-block d-md-none">
                <ul class="navbar-nav nav-justified w-100">
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_trick')~'#' }}"><i class="fas fa-home"></i></a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('app_trick')~'#tricks' }}"><i class="fas fa-bookmark"></i></a></li>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt"></i></a></li>
                    {% endif %}
                </ul>
            </nav>
            <!-- Navigation tablet & desktop -->
            <nav id="navbar" class="navbar navbar-expand-md navbar-custom fixed-top navbar-light p-0 d-none d-md-block {{ (app.request.get('_route') =='app_trick_show') ? 'navbar-custom--min' : 'bg-transparent' }}">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <div class="alert alert-warning mb-3">
                        You are currently switched to this user <span class="text-success">{{ app.user.username }}</span>
                        <a class="link" href="{{ path('app_trick', {'_switch_user': '_exit'}) }}">Exit Impersonation</a>
                    </div>
                {% endif %}
                {% for message in app.session.flashBag.peek('success') %}
                    <div class="alert alert-success js-alert">{{ message|trans({}, 'flashes') }}</div>
                {% endfor %}
                <div class="container-fluid px-5">
                    <a class="navbar-brand" href="{{ path('app_trick') }}">
                        <img class="navbar-logo {{ (app.request.get('_route') =='app_trick_show') ? 'navbar-logo--min' }}" src="{{ asset('build/images/logo.png') }}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li><a class="nav-link active" data-bs-target="#header" href="{{ path('app_trick')~'#header'}}" data-href="#header">Home</a></li>
                            <li><a class="nav-link" data-bs-target="#tricks" href="{{ path('app_trick')~'#tricks' }}">Tricks</a></li>
                            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                <li><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>
                            {% else %}
                                <li><a class="nav-link" href="{{ path('app_login') }}">Sign In</a></li>
                                <li><a class="nav-link" href="{{ path('app_register') }}">Sign up</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        {% block body %}{% endblock %}

        <div id="trick__modal"></div>

        <footer class="d-none d-sm-block {{ (app.request.get('_route') in ['app_login', 'app_register', 'app_verify_resend_email', 'app_forgot_password_request', 'app_check_email', 'app_reset_password']) ? 'bottom' }}">
            <p>Copyright 2022 - SnowTricks</p>
        </footer>
    </body>
</html>
