<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SnowTricks | {% block title %}404{% endblock %}</title>
    <link rel="icon" href="{{ asset('build/images/favicon.ico') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<section id="hero" class="container-fluid">
    <div class="overlay"></div>
    <div id="exception">
        <div class="exception">
            <div class="exception__container">
                <h1 class="{{ class }}">{{ title }}</h1>
            </div>
            <h2>Oops!</h2>
            <p>{{ message }}</p>
            <a class="{{ class }}" href="{{ path('app_trick') }}">Go home</a>
        </div>
    </div>
</section>
</body>
</html>