{{ form_start(form, {
    action: action
}) }}
    {% if new is defined and new %}
        {{ form_row(form.featured_image, {
            label: 'Featured Image'
        }) }}
    {% endif %}

    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.category) }}
    {{ form_row(form.images, {
        label: 'Images'
    }) }}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mb-2 js-trick-medias"></div>

    <ul
        class="js-trick-videos list-unstyled"
        data-prototype="{{ form_widget(form.videos.vars.prototype, )|e('html_attr') }}"
        data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}"
    >
        {% for video in form.videos %}
            {% if video.vars.value %}
                <li class="mb-3">
                    {{ form_widget(video.file) }}
                    {{ form_help(video.file) }}
                    {{ form_errors(video.file) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <button type="button" class="btn btn-form add_item_link" data-collection-holder-class="js-trick-videos">
        <i class="fas fa-video me-2"></i>
        Add videos
    </button>


    <div class="col-lg-12 text-end mt-4">
        <a
            {% if ajax is defined and ajax %}
                data-href="{{ secondary_btn_path }}"
            {% else %}
                href="{{ secondary_btn_path }}"
            {% endif %}
            type="button"
            class="btn btn-danger btn-form text-capitalize
                {% if ajax is defined and ajax %}
                    js-trick-delete
                {% endif %}"
        >{{ secondary_btn_name }}</a>
        <button class="btn btn-form text-capitalize" type="submit">
            {{ primary_btn_name }}
        </button>
    </div>
{{ form_row(form._token) }}
{{ form_end(form, {render_rest: false}) }}