<div class="js-modal modal fade" id="trick__modal__delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form action="{{ path('app_trick_remove', { id: trick.id }) }}" method="POST" class="d-inline-block" >
                <div class="modal-header text-uppercase font-weight-bold">
                    {{ trick.author.username }} - {{ trick.createdAt | date('d/m/Y') }} : {{ trick.title }}
                </div>
                <div class="modal-body text-center p-4">
                    Do you really want to remove this trick ?
                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~trick.id) }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-form" data-bs-dismiss="modal">No</button>
                    <button type="submit" class="btn btn-sm btn-form btn-danger">Yes</button>
                </div>
            </form>
        </div>
    </div>
</div>

