{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tricks') }}
    {{ encore_entry_script_tags('trick') }}
{% endblock %}

{% block body %}
    <!-- Hero -->
    <section id="hero" class="container-fluid trick">
        <div class="overlay trick__overlay"></div>
        <div class="container-fluid container-md trick__container">
            {% for message in app.flashes('error') %}
                <div class="alert alert-danger m-0 js-alert">{{ message|trans({}, 'flashes') }}</div>
            {% endfor %}
            <div class="trick__featured-image">
                <img src="{{ uploaded_asset(trick.featuredImagePath) }}" alt=" {{ trick.featuredImage.file ?? 'default.jpg' }}">
                {% if is_granted('MANAGE', trick) %}
                    <div class="trick__action d-inline-block p-1">
                        {{ form_start(featuredImageForm, {
                            attr: {
                                class: 'd-inline-block',
                                id: 'trick_featured_image_form'
                            },
                            action: path('app_trick_add_image', { id: trick.id })
                        }) }}

                            <a class="m-1 js-media-update trick__action--update"><i class="fas fa-pencil"></i></a>
                            {{ form_widget(featuredImageForm.file, {
                                attr: {
                                    class: 'js-media-update-file'
                                }
                            }) }}
                        {{ form_end(featuredImageForm) }}
                        {% if trick.featuredImage %}
                            <a data-href="{{ path('app_media_confirm_remove', { id: trick.featuredImage.id }) }}" class="m-1 trick__action--delete js-media-delete"><i class="fas fa-trash"></i></a>
                        {% endif %}
                    </div>
                {% endif %}
                <h2 id="trick-title" class="trick__title d-block">{{ trick.title }}</h2>
            </div>
            <p class="trick__author text-end mt-2 px-5">{{ trick.author|anonymous_user }}</p>
            <button data-bs-toggle="collapse" href="#collapseMedia" class="trick__media__btn btn btn-form mt-5 d-md-none">See medias</button>
            <div id="collapseMedia" class="trick__media collapse px-5 pt-5 d-md-block">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    {% for num, media in trick.medias %}
                        <div class="col position-relative">
                            <img class="img-thumbnail mt-3" src="{{ uploaded_asset(media.filePath) }}" alt="{{ trick.title~'-'~num }}">
                            <div class="trick-media__action">
                                <a data-href="{{ path('app_media_confirm_change', { id: media.id }) }}" class="m-1 trick-media__action--change js-media-change"><i class="fas fa-clipboard-check"></i></a>
                                <a data-href="{{ path('app_media_confirm_remove', { id: media.id }) }}" class="p-1 trick-media__action--delete js-media-delete"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="trick__information row align-items-center justify-content-between p-3 pt-0 mt-5">
                <div class="row mt-md-0">
                    <p class="{{ trick.isUpdated ? 'col-sm-6' : ''}} trick__created_at mb-0 p-2">Published on {{ trick.createdAt|date ("F d, Y")}}</p>
                    {% if trick.isUpdated %}
                        <p class="col-sm-6 trick__updated_at mb-0 p-2">Updated on {{ trick.updatedAt|date ("F d, Y") }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="trick__description text-start p-3 p-md-5 pt-5">
                {{ form_start(editForm)}}
                    {{ form_row(editForm.title) }}
                    {{ form_row(editForm.description) }}
                    {{ form_row(editForm.category) }}
                    {{ form_row(editForm.medias, {
                        label: 'Medias (.jpeg, .jpg, .png) / max: 1Mo'
                    }) }}

                    <div id="medias" class="row row-cols-1 row-cols-sm-2 row-cols-md-4"></div>

                    <div class="col-lg-12 text-end mt-4">
                        <a data-href="{{ path('app_trick_confirm_remove', { id: trick.id }) }}" type="button" class="js-trick-delete btn btn-form btn-danger">Delete</a>
                        <button class="btn btn-form" type="submit">
                            Save
                        </button>
                    </div>
                {{ form_end(editForm) }}
            </div>
        </div>
    </section>
{% endblock %}

