{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tricks') }}
{% endblock %}

{% block body %}
    <!-- Hero -->
    <section id="hero" class="container-fluid">
        <div class="overlay"></div>
        <div class="text-center">
            <h1 class="main-title">SnowTricks</h1>
        </div>
    </section>

    <!-- Tricks -->
    <section id="tricks" class="px-3 px-sm-5 pt-3 pb-5 text-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success js-alert d-md-none">{{ message|trans({}, 'flashes') }}</div>
        {% endfor %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            {% for trick in tricks %}
                <div class="col mt-4">
                    <div class="card h-100" href="#">
                        <figure>
                            <a href="{{ path('app_trick_show', { slug: trick.slug }) }}">
                                <img src="{{ uploaded_asset(trick.featuredImagePath) }}" class="card-img-top" alt="{{ trick.title }}">
                            </a>
                            <span class="badge bg-secondary card-category">{{ trick.categoryName }}</span>
                        </figure>
                        <div class="card-body d-flex justify-content-between">
                            <h5 class="card-title">
                                <a href="{{ path('app_trick_show', { slug: trick.slug }) }}">{{ trick.title }}</a>
                            </h5>
                            {% if is_granted('MANAGE', trick) %}
                                <div class="card-action">
                                    <a href="{{ path('app_trick_edit', { slug: trick.slug }) }}" class="m-1 card-action--update"><i class="fas fa-pencil"></i></a>
                                    <a data-href="{{ path('app_trick_confirm_remove', { id: trick.id }) }}" class="m-1 card-action--delete js-trick-delete"><i class="fas fa-trash"></i></a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="btn btn-theme btn-border mt-5">Load more</button>
    </section>

    <!-- Scroll button -->
    <a id="scroll-bottom" href="#tricks" class="scroll-btn d-none d-md-block">
        <i class="fa fa-angle-down" aria-hidden="true" role="img"></i>
    </a>
    <a id="scroll-top" href="#header" class="scroll-btn d-none">
        <i class="fa fa-angle-up" aria-hidden="true" role="img"></i>
    </a>
{% endblock %}
