{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tricks') }}
{% endblock %}

{% block body %}
    <!-- Hero -->
    <section id="hero" class="container-fluid">
        <div class="overlay"></div>
        <div class="text-center">
            <h1 class="main-title">SnowTricks</h1>
        </div>
    </section>

    <!-- Tricks -->
    <section id="tricks" class="px-3 px-sm-5 pt-3 pb-5 text-center">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success js-alert d-md-none">{{ message|trans({}, 'flashes') }}</div>
        {% endfor %}
        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('app_trick_new') }}" class="btn btn-form mt-5">
                <i class="fas fa-plus-circle me-2"></i>
                Add a new trick
            </a>
        {% endif %}
        <div class="js-trick-list">
            {{ include('trick/_list.html.twig') }}
        </div>
    </section>

    <!-- Scroll button -->
    <a id="scroll-bottom" href="#tricks" class="scroll-btn d-none d-md-block">
        <i class="fa fa-angle-down" aria-hidden="true" role="img"></i>
    </a>
    <a id="scroll-top" href="#header" class="scroll-btn d-none">
        <i class="fa fa-angle-up" aria-hidden="true" role="img"></i>
    </a>
{% endblock %}
