{% extends 'base.html.twig' %}

{% block title %}{{ trick.title ?? 'new trick' }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('tricks') }}
    {{ encore_entry_script_tags('trick') }}
{% endblock %}

{% block body %}
    <!-- Hero -->
    <section id="hero" class="container-fluid trick">
        <div class="overlay trick__overlay"></div>
        <div class="container-fluid container-md trick__container">

            <div class="trick__featured-image js-trick-featured-image"></div>

            <p class="trick__author text-end mt-2 px-5">{{ app.user.username }}</p>

            <div class="trick__form text-start p-3 p-md-5 pt-5">
                {{ include('trick/_form.html.twig', {
                    form: newForm,
                    action: path('app_trick_new'),
                    new: true,
                    primary_btn_name: 'create',
                    secondary_btn_name: 'exit',
                    secondary_btn_path: path('app_trick')
                }) }}
            </div>

        </div>
    </section>
{% endblock %}

