{% extends 'base.html.twig' %}

{% block title %}{{ trick.title }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick') }}
{% endblock %}

{% block body %}
    <!-- Hero -->
    <section id="hero" class="container-fluid trick">
        <div class="overlay trick__overlay"></div>
        <div class="container-fluid container-md trick__container">
            <div class="trick__featured-image">
                <img src="{{ asset(trick.featuredImagePath) }}" alt=" {{ trick.featuredImage.file ?? 'default.jpg' }}">
                {% if is_granted('MANAGE', trick) %}
                    <div class="trick__action d-inline-block p-1">
                        <a href="" class="m-1 trick__action--update"><i class="fas fa-pencil"></i></a>
                        <a data-href="{{ path('app_trick_confirm_remove', { id: trick.id }) }}" class="m-1 trick__action--delete js-trick-delete"><i class="fas fa-trash"></i></a>
                    </div>
                {% endif %}
                <h2 class="trick__title d-block">{{ trick.title }}</h2>
            </div>
            <p class="trick__author text-end mt-2 px-5">{{ trick.author|anonymous_user }}</p>
            <button data-bs-toggle="collapse" href="#collapseMedia" class="trick__media__btn btn btn-form mt-5 d-md-none">See medias</button>
            <div id="collapseMedia" class="trick__media collapse px-5 pt-5 d-md-block">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                    {% for num, media in trick.medias %}
                        <div class="col">
                            <img class="img-thumbnail mt-3" src="{{ asset(media.filePath) }}" alt="{{ trick.title~'-'~num }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="trick__description p-3 p-md-5 pt-5">
                <p>{{ trick.description }}</p>
                <p class="pt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto aspernatur dolores minima nisi. Aliquid aspernatur corporis doloremque doloribus, in iure laborum laudantium nesciunt perspiciatis quis suscipit ullam unde veritatis.</p>
            </div>
            <div class="trick__information row align-items-center p-3 pb-md-5 pt-0">
                <h3 class="m-0 col-md-4 p-2 p-md-0"><span class="trick__category badge bg-secondary">{{ trick.categoryName }}</span></h3>
                <div class="col-md-8 row mt-3 mt-md-0">
                    <p class="{{ trick.isUpdated ? 'col-sm-6' : ''}} trick__created_at mb-0 p-2">Published on {{ trick.createdAt|date ("F d, Y")}}</p>
                    {% if trick.isUpdated %}
                        <p class="col-sm-6 trick__updated_at mb-0 p-2">Updated on {{ trick.updatedAt|date ("F d, Y") }}</p>
                    {% endif %}
                </div>
            </div>
            <hr>
            <div class="trick__comment__container">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    {{ include('trick/_comment_form.html.twig', {
                        'commentForm': commentForm
                    }) }}
                {% else %}
                    <div class="p-5">
                        <p>
                            <a class="link" href="{{ path('app_login') }}">Sign In</a>
                            or
                            <a class="link" href="{{ path('app_register') }}">Sign Up</a>
                            to comment this trick.
                        </p>
                    </div>
                {% endif %}
                <hr>
                <div class="trick__comment__list p-2 p-sm-5 pt-5 p-md-5">
                    <h2 class="trick__comment__title mb-0">
                        <span><i class="fas fa-comments pe-3"></i></span>
                        {{ trick.comments|length }} Comments
                    </h2>
                    <ul class="list-unstyled m-0 p-3 p-md-5 pt-5">
                        {% for comment in trick.comments %}
                            {{ include('trick/_comment.html.twig', {
                                'comment': comment
                            }) }}
                        {% else %}
                            {% if is_granted(('IS_AUTHENTICATED_REMEMBERED'))  %}
                                <li class="mb-4">
                                    <div class="d-flex justify-content-center">
                                        Be the first to comment!
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    <button class="btn btn-theme btn-border mt-0 mb-5 mb-md-0">Load more</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

